#include <stdio.h>

int main(void)
{
    int valor, multi;

    printf("Me de um número que multiplicarei por ele mesmo!\n");
    scanf("%d", &valor);
    multi = valor * valor;
    printf(" O numero que voce me deu: %d\n", valor);
    printf(" o valor multiplicado: %d\n", multi);
    return 0;
}
